@import "../variables";
@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.css";

.slick-arrow-category {
  top: 30% !important;
}

.slick-arrow-channels-gray {
  top: 30% !important;

  &:before {
    opacity: 100% !important;
    color: $gray-700 !important;
    background-color: #FFF !important;
    border-radius: 50%;
    box-shadow: $box-shadow;
  }
}

@media (max-width: 768px) {
  .slick-arrow {
    display: none !important;
  }
}

.slick-arrow-popular {
  top: 20% !important;
}

.slick-arrow-playlists {
  top: 30% !important;
}

.slick-slider {
  z-index: 7500;
}

.slick-list.draggable {
  z-index: -1;
}

.slick-track {
  z-index: 999;
}

.slick-slide.slick-active {
  z-index: 9999;
}

.slick-prev:before, .slick-next:before {
  font-family: 'fontello', sans-serif !important;
  font-size: 20px;
  opacity: .9;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //font-size: 4rem;
}

.slick-prev:before {
  content: '\f104' !important;
  font-size: 4rem;

  z-index: 7000;
}

.slick-next:before {
  content: '\f105' !important;
  font-size: 4rem;

  z-index: 7000;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0 !important;
}

.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 15%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  left: -.5 * $spacer;
}

.slick-next {
  right: 2.5 * $spacer;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 15%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
