@import "../variables";

.slick-channels {

  &.big {
    height: 325px;
    width: 260px;
  }
}

.channel {

  &-subscription {
    margin-bottom: $spacer;
  }

  &.info {
    color: $gray-600;
  }

  &-wrapper {
    background-color: $white;
    padding-right: .5 * $spacer;
  }

  &-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);

    width: 180px;
    height: 140px;

    &.lg {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, 1fr);

      width: 225px;
      height: 200px;
    }

    &-middle {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(8, 1fr);

      width: 180px;
      height: 180px;
    }

    &-right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(8, 1fr);

      width: 180px;
      height: 180px;
    }
  }

  &-preview {
    grid-row: 1/6;
    grid-column: 1/5;
    background: $gray-900;
    cursor: pointer;

    &.right {
      grid-row: 1/5;
    }
  }

  &-avatar {
    margin: auto .5 * $spacer auto auto;
    width: 58px;
    height: 58px;

    grid-column: 2/3;
    grid-row: 4/8;

    background: $primary;

    border: 3px solid $white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    cursor: pointer;

    &.gray {
      background: $gray-600 !important;
    }

    &-middle {
      margin: auto;
      width: 58px;
      height: 58px;

      grid-column: 1/3;
      grid-row: 4/8;

      background: $gray-500;

      border: 3px solid $white;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      cursor: pointer;
    }

    &.right {
      margin: auto .5 * $spacer auto auto;
      width: 58px;
      height: 58px;

      grid-column: 2/3;
      grid-row: 3/7;

      background: $primary;
      border: 3px solid $white;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    grid-row: 6/9;
    grid-column: 1/3;

    margin: .25 * $spacer 0;
    justify-items: start;

    &.middle {
      grid-row: 7/9;
      grid-column: 1/3;
      justify-items: center;
    }

    &.right {
      display: flex;
      flex-direction: column;

      grid-row: 5/7;
      grid-column: 1/3;
      align-content: start;
      justify-items: start;
    }

    a {
      grid-column: 1/2;
      grid-row: 1/2;
      color: $black;
      font-weight: 600;
      font-size: 14px;

      &:hover {
        color: black;
      }
    }

    small {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: end;
      font-weight: 600;
      color: $gray-500;
    }
  }
}

.channel-name {
  color: $black;
  font-weight: 600;

  &.middle {
    justify-self: center;
  }
}

.btn-channel {
  grid-column: 1/2;
  grid-row: 7/8;
}

.channel-rounded {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 150px;
  height: 180px;

  &-info {
    grid-column: 1/4;
    grid-row: 3/6;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: start;

    button {
      margin-top: .5 * $spacer;
    }
  }

  &-wrapper {
    width: fit-content;
    margin: 0 0 .5 * $spacer 0;
  }

  &-avatar {
    background: $primary;
    grid-row: 1/3;
    grid-column: 1/4;
    width: 75px;
    height: 75px;

    margin: 0 auto auto auto;

    border: 3px solid $white;
    border-radius: 50%;

    &.gray {
      background: $gray-500;
    }
  }
}

.btn-gray {
  background-color: $gray-400 !important;
  color: $gray-600;

  &:hover {
    background-color: $gray-500 !important;
  }
}

.channel-heading {
  display: grid;
  grid-gap: .5 * $spacer;
  grid-template-columns: 3 * $spacer  auto 7 * $spacer;
  margin-bottom: .5 * $spacer;

  &.avatar {
    height: 3 * $spacer;
    width: 3 * $spacer;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    background-color: $gray-500;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }

  button {
    max-width: 10 * $spacer;
    height: fit-content;
  }
}

.channel-description {
  display: flex;
  flex-direction: column;

  color: $gray-500;
}

.channel-search {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 992px) {
  .channel-search {
    max-width: 300px;
    margin-left: auto;
  }
}

.category-header-menu.category-header-menu__board {
  box-shadow: 0px 8px 21px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
}

.category-header-menu__board__link__active {
  color: #000000 !important;
}

.category-header-menu__board__link {
  color: #a9a9a9 !important;
}

.category-header-menu.category-header-menu__board {
  display: flex;
  justify-content: space-between;
  height: auto !important;
}

.category-header-menu__board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 59px;
  border-bottom: 1px solid #dee2e6;
}

.category-bcg.category-header {
  background-repeat: no-repeat;
}

.category-header-menu.category-header-menu__board {
  align-items: baseline;
}

.category-header-menu__board-video__play {
  padding-right: 30px;
  img {
    width: 379.6px;
    height: 219.9px;
  }
}

.category-header-menu.category-header-menu__board {
  display: block;
  padding: 0;
}

.category-header-menu__board-links {
  padding-left: 33px;
}

.category-header-menu__board-search {
  padding-right: 33px;
}

.category-header__board {
  max-height: 591px !important;
}

.category-bcg.category-header.category-header__board {
  background-repeat: no-repeat !important;
}

.category-header-menu__board-video {
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
}

.video-playlist-item-info-stats__channel {
  font-size: 14px !important;
}

.category-header-menu__board-video__info__title {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.category-header-menu__board-video__info__desc {
  font-size: 14px;
  line-height: 1.57;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 25px;
}

.category-header-menu__board-video__info__more {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.47;
  color: #959595;
}

.category-header-menu__board-video__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
