.playlist {
  div {
    position: relative;
  }
  .slick-slider {
    //max-width: 920px;
  }
  .slick-slide {
    width: 425px;
    margin-right: 15px;
  }
  &__title {
    color: #000;
    font-size: 14px;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 30px;
  }
  &-big {
    width: 425px;
    height: 260px;
    background-repeat: no-repeat;
    &:hover {
      cursor: pointer;
    }
    &-info {
      height: 100%;
      color: #ffffff;
      padding: 18px;
      transition: all .1s ease-in-out;

      &:hover {
        box-shadow: inset 0 -5rem 3rem 0.25rem rgba(0, 0, 0, .4);
      }

      &-bottom {
        &__date {
          flex: 1;
          justify-content: space-between;
          max-width: 43%;
          font-size: 12px;
        }
        &__time {
          flex: 1;
          display: flex;
          justify-content: flex-end;
        }
      }
      &__title {
        font-size: 18px;
        padding-bottom: 5px;
        font-weight: 600;
      }
      &__nickname {
        padding-bottom: 5px;
        font-size: 13px;
      }
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 32%;
      position: absolute;
      bottom: 0;
    }
  }
}

@media screen and (max-width: 1280px) {
  .playlist {
    .slick-slider {
      max-width: 920px;
    }
  }
}