@import "../variables";

.popular {
  width: 200px !important;
  height: 225px !important;

  &-wrapper {
    background: $white;
    padding-right: .5 * $spacer;
  }

  &-preview {
    display: grid;
    align-content: end;
    justify-content: end;
    border-radius: 3px;

    width: 100%;
    height: 50%;
    padding: .25 * $spacer .5 * $spacer;

    color: $white;
    background: $gray-900;
    cursor: pointer;
    &:hover {
      color: #ffffff;
    }
  }

  &-info {
    margin: .5 * $spacer 0;

    a {
      color: $black;
      font-weight: 600 !important;
    }

    p {
      //font-weight: 600;
      color: $gray-600;
      margin: .25 * $spacer 0;
    }

    small {
      font-weight: 600;
      color: $gray-500;
      //padding-right: 35px;
    }

    &-footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 5px;
    }
  }
}
