@import "../variables";

.slick-categories {

  .category {
    display: grid !important;
    align-content: center;
    justify-content: center;
    width: 200px;
    height: 120px;
    position: relative;
    border-radius: 3px;

    color: $white;
    background-repeat: no-repeat;
    background-size: cover !important;
    cursor: pointer;

    &-wrap {
      background-color: #FFF;
      padding-right: .5 * $spacer;
    }
  }

  .category:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    z-index: 1;
    border-radius: 3px;
  }

  &-mobile {
    .category {
      display: grid !important;
      align-content: center;
      justify-content: center;
      width: 200px;
      height: 120px;

      color: $white;
      background-repeat: no-repeat;
      background-size: cover !important;
      cursor: pointer;

      &-wrap {
        background-color: #FFF;
        padding-right: .5 * $spacer;
      }
    }
  }
}

.page_avatar {
  grid-row: 2/4;
  grid-column: 2/4;

  width: 55px;
  height: 55px;
  margin: auto 0;

  background: $primary;
  border-radius: 50%;
  //border: 3px solid $white;

  &.gray {
    background: $gray-500;
  }
}

.page-heading {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(12, 1fr);

  height: 300px;
  width: 100%;
  margin-bottom: 2.5 * $spacer;

  background: $gray-400;

  &-heading {
    grid-row: 4/9;
    grid-column: 2/12;

    margin: auto 0;
    color: $white;
  }

  .header-panel {
    grid-row: 10/11;
    grid-column: 2/12;

    background-color: $primary;
  }
}

.subscription-btn {
  grid-row: 2/4;
  grid-column: 9/12;

  padding: 0 .5 * $spacer;
  white-space: nowrap;
}

.panel-btn {
  display: block;
  background-color: rgba(0,0,0, .01);
  grid-row: 10/11;

  &.home {
    grid-column: 2/3;
  }
  &.about {
    grid-column: 3/4;
  }
}

.category-about {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 9fr 3fr;

  &-text {
    display: flex;
    flex-direction: column;
    justify-items: start;

    color: $black;

    button {
      display: inline-flex;
    }

    h5 {
      font-weight: 500;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-items: start;

    color: $black;
    font-weight: 600;
    white-space: nowrap;
  }
}

.category-nav {
  border: none !important;
  justify-content: space-between;

  .nav-link {
    color: $gray-900;

    &.active {
      color: $gray-600;
      background-color: unset !important;
      border: none;
      border-bottom: 2px solid $primary !important;
    }
  }
}

@media (min-width: 928px) {
  .category-nav {
    justify-content: start;
  }
}

//.category-header {
//  position: relative;
//  padding: $spacer $spacer .1 * $spacer $spacer;
//  background-color: rgba(255,0,0, .1);
//}

.category-bg {
  height: auto;
  width: 100%;
}

//.category-heading {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//
//  width: 100%;
//  margin: $spacer 0;
//
//  &.info {
//    flex-direction: column;
//
//    margin: 0;
//
//    a {
//      font-weight: 600;
//    }
//  }
//
//  &.avatar {
//    position: absolute;
//    top: -9rem;
//
//    margin: .25 * $spacer 0;
//
//    min-width: 10 * $spacer;
//    min-height: 10 * $spacer;
//    width: 10 * $spacer;
//    height: 10 * $spacer;
//
//    -webkit-border-radius: 50%;
//    -moz-border-radius: 50%;
//    border-radius: 50%;
//
//    background-size: cover;
//    background-repeat: no-repeat;
//    background-color: $primary;
//  }
//}

.category-content {
  margin-top: 3.5 * $spacer;

  color: $black;

  section {
    margin-top: 1.5 * $spacer;
  }
}

.category-preview {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: fit-content;
  margin-right: .5 * $spacer;

  &.avatar {
    min-width: 5 * $spacer;
    min-height: 5 * $spacer;
    width: 5 * $spacer;
    height: 5 * $spacer;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    background-size: cover;
    background-repeat: no-repeat;
    background-color: $gray-500;
  }
}

.category-bcg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 300px;
}

.category-header {
  padding: 41px 32px 0 32px;
}

.category-header__logo, .category-header-user {
  padding-left: 33px;
  padding-right: 33px;
  display: flex;
  justify-content: space-between;
}

.category-header__logo {
  padding-bottom: 33px;
}

.btn-subscribe {
  font-family: Conv_TTNorms-Medium, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  min-width: 190px;
}

.category-header-user-info__name {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45);
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.7;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.video-playlist-item-info__channel {
  color: #6a6a6a;
  font-size: 13px;
  padding-top: 5px;
}

.category-header-user-info__follow {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.45);
  font-family: Conv_TTNorms-Medium, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.category-header-user-info {

}

.category-header__logo {
  a {
    display: block;
    width: 68px;
    height: 68px;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: rgb(189, 58, 47);
    border-radius: 50%;
  }
}

.category-header-menu {
  display: flex;
  align-items: center;
  background: #000;
  margin-top: 35px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 59px;
  background: rgba(208, 50, 32, 0.6);
  padding-left: 33px;
  padding-right: 33px;
  .category-header-menu__link {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
  }

  .category-header-menu__link.active {
    color: #ffffff;
  }
}

.category-header-menu__link {
  padding-right: 40px;
  &:nth-last-child(1) {
    padding-right: 0;
  }
}

.video-playlist-item-info-stats {
  padding-top: 8px;
  span {
    font-size: 12px;
    color: #b7b7b7;
  }
}

.video-playlist-item-info-stats {
  display: flex;
  align-items: center !important;
  flex-direction: row !important;
  span {
    &:nth-child(2) {
      padding-left: 36px;
    }
  }
}

.category-content {
  &.about {
    margin-top: 2.5 * $spacer;

    p {
      margin-bottom: 1.5rem;
    }
  }
  .slick-slide {
    div {
      height: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .video-playlist-item-info a {
    line-height: 1.29;
  }
}

.category-content {
  .channel-item-middle {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 180px;
    .channel-avatar-middle {
      height: 58px !important;
      margin: auto 0 auto auto;
      margin-right: 12px;
      box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.14);
      border: solid 3px #ffffff;
      background-color: #707070;
    }
  }
}

.video-playlist-item-info__title {
  a {
    font-size: 14px;
  }
}
