@import "../variables";
@import "~bootstrap/scss/bootstrap";

.comments {

}

.comment {
  display: grid;
  color: $black;
  border-bottom: 1px solid $border-color;

  margin: .5 * $spacer 0;

  &-header {
    display: grid;
    grid-gap: .25 * $spacer;
    grid-template-columns: 3 * $spacer auto 5 * $spacer;

    border: none;
  }

  &.content {
    display: block;
    margin: 0 0 0 3.5 * $spacer;
    padding: 0;
    border: none;
  }

  &.avatar {
    display: block;
    min-height:  3 * $spacer;
    min-width:  3 * $spacer;
    height: 3 * $spacer;
    width: 3 * $spacer;

    margin-right: .5 * $spacer;

    background-color: $gray-500;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    border: none;

    &.primary {
      background-color: $primary;
    }
  }

  &.time {
    display: block;
    width: fit-content;
    margin: 0 0 0 .5 * $spacer;
    justify-self: end;
    white-space: nowrap;

    color: $gray-500;

    border: none;
  }

  &.actions {
    display: flex;
    flex-direction: row;
    margin: .5*$spacer 0;

    color: $gray-500;
    border: none;

    button {
      color: $gray-500 !important;
      display: flex;
      flex-direction: row;
      align-items: baseline;

      border: none;
      background: inherit;

      &:hover {
        color: $primary-darken !important;
      }
    }
  }

  &.replay {
    border: none;

    .comment-header {
      grid-template-columns: 2 * $spacer auto 5 * $spacer;
    }

    .comment.content {
      margin: 0 0 0 2.5 * $spacer;
      padding: 0;
    }
    .avatar {
      min-height: 2 * $spacer;
      min-width: 2 * $spacer;
      height: 2 * $spacer;
      width: 2 * $spacer;
    }
  }

  &.replays {
    border-bottom: none;

    .comment {
      border: none;
    }

    .comment.content {
      padding: 0;
      margin: 0 0 0 2.5 * $spacer;
    }

    .comment.avatar {
      min-height:  2 * $spacer;
      min-width:  2 * $spacer;
      height: 2 * $spacer;
      width: 2 * $spacer;
    }
  }
}

.comment-input {
  display: grid;
  grid-template-columns: 3 * $spacer auto;
  grid-gap: .5 * $spacer;

  margin-bottom: $spacer;
  padding: $spacer 0;

  border-bottom: 1px solid $border-color;

  .avatar {
    min-height:  3 * $spacer !important;
    min-width:  3 * $spacer !important;
    height: 3 * $spacer;
    width: 3 * $spacer;
  }

  textarea {
    padding: .25 * $spacer .5 * $spacer;
    border: none;
    border-bottom: 1px solid $border-color;
    background-color: $gray-200;
  }

  button {
    grid-row: 2/3;
    grid-column: 2/3;
    width: fit-content;
  }

  small {
    justify-self: end;
    grid-row: 2/3;
    grid-column: 2/3;
  }

  &.replay {
    margin-bottom: 0;

    border: none;
  }
}
