@import "../variables";

.comments {

}

.comment {
  display: grid;
  color: $black;
  border-bottom: 1px solid $border-color;

  margin: .5 * $spacer 0;

  .icon-dot-3 {
    font-size: 1.05rem;
    color: #bfbfbf;
  }

  .attachment {
    border: none;
    .video {
      background: #f4f4f4;
    }
    img {
      max-width: 255px;
      max-height: 157px;
    }
    .category-header-menu__board-video__play {
      height: 100%;
    }
    .category-header-menu__board-video__info__title {
      font-size: 1.13 * $spacer;
      font-family: OpenSans-Bold, sans-serif;
    }
    .video-playlist-item-info-stats__channel {
      span {
        padding-right: 30px;
        color: #6a6a6a;
        font-size: 0.8rem;
        font-family: OpenSans-SemiBold, sans-serif;
        &:nth-last-child(1) {
          padding-right: 0;
        }
      }
    }
    .category-header-menu__board-video__info__desc {
      font-size: 0.8rem;
      padding-bottom: 0;
    }
    .category-header-menu__board-video {
      padding: 20px !important;
      box-shadow: none;
    }
  }

  .dropleft.ml-auto.my-auto.show {
    .icon-dot-3 {
      color: #000;
    }
  }

  &-header {
    display: grid;
    grid-gap: .25 * $spacer;
    grid-template-columns: 3 * $spacer auto 5 * $spacer;

    border: none;
  }

  &.content {
    display: block;
    margin: 0 0 0 3.5 * $spacer;
    padding: 0;
    border: none;
  }

  &.avatar {
    display: block;
    min-height:  2.5 * $spacer;
    min-width:  2.5 * $spacer;
    height: 2.5 * $spacer;
    width: 2.5 * $spacer;

    margin-right: $spacer;
    margin-bottom: 0;
    margin-top: 0;

    background-color: $gray-500;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    border: none;

    &.primary {
      background-color: $primary;
    }
  }

  &.time {
    display: block;
    width: fit-content;
    margin: 0 0 0 .5 * $spacer;
    justify-self: end;
    white-space: nowrap;

    color: $gray-500;

    border: none;
  }

  &.actions {
    display: flex;
    flex-direction: row;
    margin: .5 * $spacer 0;

    color: $gray-500;
    border: none;

    button {
      color: $gray-500 !important;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      padding-left: 0;

      border: none;
      background: inherit;

      &:hover {
        color: $primary-darken !important;
      }
    }
  }

  &.replay {
    border: none;

    .comment-header {
      grid-template-columns: 2 * $spacer auto 5 * $spacer;
    }

    .comment.content {
      margin: 0 0 0 2.5 * $spacer;
      padding: 0;
    }
    .avatar {
      min-height: 1.5 * $spacer;
      min-width: 1.5 * $spacer;
      height: 1.5 * $spacer;
      width: 1.5 * $spacer;
    }
  }

  &.replays {
    border-bottom: none;

    .comment {
      border: none;
    }

    .comment.content {
      padding: 0;
      margin: 0 0 0 2.5 * $spacer;
    }

    .comment.avatar {
      min-height:  2 * $spacer;
      min-width:  2 * $spacer;
      height: 2 * $spacer;
      width: 2 * $spacer;
    }
  }
}

.comment-input {
  display: grid;
  grid-template-columns: 3 * $spacer auto;
  grid-gap: .5 * $spacer;

  margin-bottom: 1.5 * $spacer;
  padding: $spacer 0;
  padding-bottom: 2.5 * $spacer;

  border-bottom: 1px solid $border-color;

  .avatar {
    margin-top: 0;
    min-height:  2.5 * $spacer !important;
    min-width:  2.5 * $spacer !important;
    height: 2.5 * $spacer;
    width: 2.5 * $spacer;
  }

  textarea {
    padding: .25 * $spacer .5 * $spacer;
    border: none;
    border-bottom: 1px solid $border-color;
    background-color: $gray-200;
  }

  button {
    grid-row: 2/3;
    grid-column: 2/3;
    width: fit-content;
  }

  small {
    justify-self: end;
    grid-row: 2/3;
    grid-column: 2/3;
  }

  input {
    padding: 0 $spacer;
    background-color: $gray-100;
    border-radius: .25rem;
    border: 1px solid $border-color;
  }

  &.replay {
    margin-bottom: 0;

    border: none;

    .comment-input {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}
