.channel-post-message__avatar__img {
  width: 40px;
  height: 34px;
  border-radius: 50%;
}

.channel-post-message-content {
  width: 100%;
  padding-top: 9px;
}

.channel-post-message-content__form {
  background: #f4f4f4;
}

.channel-post-message-content__title {
  font-family: OpenSans-SemiBold, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  padding-bottom: 10px;
}

.channel-post-message-container {
  padding-top: 38px;
}

.channel-post-message-content__form__area {
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #000000;
}

.channel-post-message-content-buttons__cancel {
  font-family: OpenSans-Bold, sans-serif;
  color: #b7b7b7;
}

.channel-post-message-content-buttons {
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
}

.channel-post-message-content-actions {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}

.channel-post-message-content-list__item {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e5e8;
}

.category-header-menu__black {
  background-color: rgba(0, 0, 0, 0.8) !important;
  .category-header-menu__board__link.active {
    color: #ffffff !important;
  }
  .category-header-menu__board__link {
    color: rgba(255, 255, 255, 0.4) !important;
  }
}

.channel-post-message-content__form-actions {
  padding: 15px 15px 13px 15px;
  i:nth-child(1) {
    margin-right: 10px;
  }
  i {
    &:hover {
      cursor: pointer;
    }
  }
}

.state-comment__action {
  color: #fe0000;
  font-family: OpenSans-SemiBold, sans-serif;
  &:hover {
    cursor: pointer;
  }
}

.state-comment__action__icon {
  margin-left: 7px;
  padding-top: 1px;
  &__hide {
    transform: rotate(-90deg);
  }
  &__show {
    transform: rotate(90deg);
  }
}





