@import "../variables";
@import "~bootstrap/scss/bootstrap";

.search {
  &.buttons {
    button {
      margin-right: .5 * $spacer;
    }
  }

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 $spacer;

    color: $black;
    border-bottom: 1px solid $border-color;
  }

  &-options {
    cursor: pointer;
  }
}