@import "../variables";

.video {

  &-text {
    white-space: unset;
    font-weight: 300;

    &.hidden {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-tags {
    margin-top: 1.5 * $spacer;
    margin-bottom: .5 * $spacer;

   a {
     padding: .25 * $spacer .5 * $spacer;
     margin: 0 .25 * $spacer;

     background-color: $gray-200;
     color: $gray-700;
     transition: all .2s ease-in-out;

     &:hover {
       text-decoration: none;
       background-color: $gray-400;
     }
   }
  }

  &-description {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    &-footer {
      color: $gray-500;
    }
  }
}

#description-toggler {
  white-space: nowrap;
  padding: 0 !important;
  margin: 0 .25 * $spacer 0 auto;
}

.video-playlist {
  width: 100%;
  margin: 0 0 $spacer 0;

  &.item {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: .5 * $spacer 0;
    width: 100%;

    border: none;

    &.vertical {
      display: flex;
      flex-direction: column;
      width: 200px !important;
      margin: .5 * $spacer .5 * $spacer;
      margin-left: 0;

      .video-playlist-item-info {
        grid-template-rows: 1.5rem 1.5rem 1.5rem;
        grid-gap: 0;
        padding-top: 5px;
      }
    }

    &.playlist {
      .video-playlist-item-info {
        grid-template-rows: 1.5rem !important;
        grid-gap: 0;
      }
    }

    &.large {
      margin: $spacer 0;

      .video-playlist.preview {
        min-height: 158px;
        min-width: 280px;
        height: 158px;
        width: 280px;
      }

      .video-playlist-item-info {
        grid-template-rows: 3rem 1.5rem 1.5rem auto;
      }
    }

    &.small {
      min-height: 90px;
      height: 90px;
      padding-bottom: .25 * $spacer;
      margin-bottom: 1 * $spacer;

      .video-playlist.preview {
        min-height: 90px;
        min-width: 145px;
        height: 90px;
        width: 145px;
        margin-right: $spacer;

        border-radius: .25rem;
      }

      .video-playlist-item-info {
        grid-template-rows: 2.5rem 1.5rem 1.5rem auto;
        grid-gap: 0;
      }
    }
  }

  &.preview {
    display: grid;
    align-items: end;
    justify-items: end;

    min-height: 112.5px;
    min-width: 200px;
    height: 127px;
    width: 200px;

    border-radius: 5px;
    margin: 0 .5 * $spacer 0 0;

    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none !important;

    &:first-child {
      color: $white;
      padding: .25 * $spacer .5 * $spacer;
    }
  }

  &-item-info {
    display: grid;
    grid-template-rows: 3rem 1.5rem 1.5rem;
    grid-gap: .5rem;
    width: 100%;

    margin: 0;
    padding: 0;

    border: none;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.video-grid {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video-actions {

}
