@import "../variables";
@import "~bootstrap/scss/bootstrap";

.video {

  &-text {
    white-space: unset;

    &.hidden {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-tags {
    margin-top: 1.5 * $spacer;
    margin-bottom: .5 * $spacer;

   a {
     padding: .25 * $spacer .5 * $spacer;
     margin: 0 .25 * $spacer;

     background-color: $gray-200;
     color: $gray-700;
     transition: all .2s ease-in-out;

     &:hover {
       text-decoration: none;
       background-color: $gray-400;
     }
   }
  }

  &-description {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

#description-toggler {
  white-space: nowrap;
  padding: 0 !important;
  margin: 0 .25 * $spacer 0 auto;
}

.video-playlist {
  width: 100%;
  margin: 0 0 $spacer 0;

  border-bottom: 1px solid $border-color;

  &.item {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: .5 * $spacer 0;
    width: 100%;

    border: none;

    &.vertical {
      width: 200px !important;
      margin: .5 * $spacer .25 * $spacer;
      margin-left: 0;

      .video-playlist-item-info {
        grid-template-rows: 1.5rem 1.5rem 1.5rem;
        grid-gap: 0;
      }
    }

    &.large {
      margin: $spacer 0;

      .video-playlist.preview {
        min-height: 158px;
        min-width: 280px;
        height: 158px;
        width: 280px;
      }

      .video-playlist-item-info {
        grid-template-rows: 3rem 1.5rem 1.5rem auto;
      }
    }
  }

  &.preview {
    display: grid;
    align-items: end;
    justify-items: end;

    min-height: 112.5px;
    min-width: 200px;
    height: 112.5px;
    width: 200px;

    margin: 0 .5 * $spacer 0 0;

    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none !important;

    &:first-child {
      color: $white;
      padding: .25 * $spacer .5 * $spacer;
    }
  }

  &-item-info {
    display: grid;
    grid-template-rows: 3rem 1.5rem 1.5rem;
    grid-gap: .5rem;
    width: 100%;

    margin: 0;
    padding: 0;

    border: none;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
