@import "variables";

.user-dropdown {
  padding: 0;
  min-width: 250px;
  box-shadow: $box-shadow-sm;
  background-color: $body-bg;

  left: -10rem !important;
  z-index: 10000;

  a {
    display: flex;
    flex-direction: row;
    color: #8D8D8D;

    align-content: baseline;

    &:hover {
      color: $gray-600;
    }

    i {
      width: 22px;
      height: 22px;
      margin-left: 0;
      margin-right: $spacer;
    }

    img {
      width: 22px;
      height: 22px;
      margin-left: 0;
      margin-right: $spacer;
    }
  }

  .dropdown-item, .dropdown-header {
    padding: .75 * $spacer $spacer;
    min-width: 256px;
    max-height: 43px;

    &:hover {
      text-decoration: none;
    }
  }

  .dropdown-item.tail {
    max-height: unset;
  }

  .dropdown-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: $font-size-base;
    //padding-top: .5 * $spacer;
    //padding-bottom: .5 * $spacer;

    background-color: rgb(251, 251, 251);

    img {
      height: 1.5rem;
      width: 1.5rem;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      margin-right: $spacer;
    }
  }
}

.notifications-dropdown {
  padding: 0;
  min-width: 250px;
  background-color: $body-bg;

  left: -10rem !important;
  z-index: 10000;

  a {
    display: flex;
    flex-direction: row;
    color: #8D8D8D;

    align-content: baseline;

    &:hover {
      color: $gray-600;
    }

    i {
      margin-left: 0;
      margin-right: $spacer;
    }
  }

  .dropdown-item, .dropdown-header {
    padding: .5 * $spacer $spacer;

    max-width: 256px;

    .gray {
      width: fit-content;
    }
  }

  .dropdown-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: $font-size-base;
    background-color: rgb(251, 251, 251);
    height: 43px;

    &:hover {
      text-decoration: none;
    }

    img {
      height: 1.5rem;
      width: 1.5rem;

      margin-right: .5 *  $spacer;
    }
  }
}

.notification-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background-color: #DDD;

  min-width: 2rem;
  min-height: 2rem;
  max-width: 2rem;
  max-height: 2rem;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  margin-right: .5 * $spacer;
  margin-top: auto;
  margin-bottom: auto;

  &::before{
    color: $white;
  }
}

.notification-info {
  width: 11rem;

  &.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  small {
    color: #BDBDBD;
  }
}

.notification-circle {
  margin-top: .5rem;
  min-height: .5 * $spacer;
  max-height: .5 * $spacer;
  min-width: .5 * $spacer;
  max-width: .5 * $spacer;
  background-color: #FF0000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.dropdown-language {
  a{
    width: 100%;
  }
}
