@import "variables";

.user-dropdown {
  padding: 0;
  min-width: 250px;
  box-shadow: $box-shadow-sm;
  background-color: $body-bg;

  a {
    display: flex;
    flex-direction: row;
    color: #8D8D8D;

    align-content: baseline;

    &:hover {
      color: $gray-600;
    }

    i {
      width: 22px;
      height: 22px;
      margin-left: 0;
      margin-right: $spacer;
    }

    img {
      width: 22px;
      height: 22px;
      margin-left: 0;
      margin-right: $spacer;
    }
  }

  .dropdown-item, .dropdown-header {
    padding: .75 * $spacer $spacer;
    min-width: 256px;
    max-height: 43px;

    &:hover {
      text-decoration: none;
    }
  }

  .dropdown-item.tail {
    max-height: unset;
  }

  .dropdown-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: $font-size-base;
    //padding-top: .5 * $spacer;
    //padding-bottom: .5 * $spacer;

    background-color: rgb(251,251,251);

    img {
      height: 1.5rem;
      width: 1.5rem;

      margin-right: $spacer;
    }
  }
}

.notifications-dropdown {
  padding: 0;
  min-width: 250px;
  background-color: $body-bg;

  a {
    display: flex;
    flex-direction: row;
    color: #8D8D8D;

    align-content: baseline;

    &:hover {
      color: $gray-600;
    }

    i {
      margin-left: 0;
      margin-right: $spacer;
    }
  }

  .dropdown-item, .dropdown-header {
    padding: .5 * $spacer $spacer;
  }

  .dropdown-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: $font-size-base;

    background-color: #F1F1F1;

    &:hover {
      text-decoration: none;
    }

    img {
      height: 1.5rem;
      width: 1.5rem;

      margin-right: .5 *  $spacer;
    }
  }
}

.notification-avatar {
  width: 1.5rem;
  height: 1.5rem;
}
