@import "variables";

.footer-wrapper {
  position: relative;
  width: 100vw;
  background-color: $gray-100;
  border-top: 1px solid #DDD;
}

.footer {
  position: relative;
  width: 100%;
  padding: $spacer $spacer;
  margin-top: $spacer;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:nth-child(n) {
    color: $black;
  }

  a {
    color: $black;
  }

  &-item {
    display: flex;
    flex-direction: row;
    width: fit-content;

    a, .dropdown-toggle {
      padding: .5 * $spacer  1.5 * $spacer;
      width: fit-content;
      margin: 0 auto;

      cursor: pointer;
    }
  }
}

.footer-language {
  width: fit-content;

  &:hover {
    cursor: pointer;
  }
}

// small devices
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;

    .footer-item {
      flex-direction: column;
      margin: 0 auto;

      a {

      }
    }
  }
}

// medium devices
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
}

// large devices
@media (min-width: 1200px) {
  padding: 3 * $spacer 1.5 * $spacer !important;
}
