@import "variables";

.content {
  padding: 0 $spacer;
  margin: 1.5 * $spacer 0;

  .section {
    width: 100%;
    margin-bottom: 1.5 * $spacer;
    color: #000;

    &.mobile {
      margin: 0;
      //border-bottom: 1px solid $border-color;
    }

    &-heading, .section-heading {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      margin-bottom: 1.5 * $spacer;
      font-weight: 600;

      h6 {
        font-weight: inherit;
        cursor: default;
      }

      a {
        font-weight: inherit;
        color: $gray-600;
      }
    }
  }
}

.section-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-weight: 600;

  h6 {
    font-weight: inherit;
    cursor: default;
  }

  a {
    font-weight: inherit;
    color: $gray-600;
  }
}

.layout {
  position: relative;
  display: flex;
  flex-direction: row;

  padding: 0;
  margin: .75rem auto;

  width: 100%;
  max-width: 1200px;
  height: 100%;

  &.h100 {
    display: grid;
    grid-template-rows: auto 7em;
    height: 100vh !important;
  }

  &-login {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
  }

  &-content {
    section {
      margin-bottom: 2.5 * $spacer;
    }
  }

  &.alt {
    padding: 0 !important;
    margin: 0 $spacer;
  }

  &.overlay {
    z-index: -1;
    &::before {
      display: block;
    }
  }

  &::before {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0,0,0, .3);
    z-index: 10000;
  }
}

@media screen and (min-width: 768px) {
  .layout {
    padding: 0 2 * $spacer;

    &.alt {
      margin: 0 3 * $spacer;
    }
  }
}

@media screen and (min-width: 992px) {
  .layout {

  }
}

@media (min-width: 1200px) {
  .layout {

  }
}

.notification-container {
  display: block;
  max-height: 300px;
  overflow: scroll;
}
