@import "variables";
.nav-mobile {
  font-size: 1.5rem;

  i {
    margin: 0 1rem;
    cursor: pointer !important;
    transition: all .2s ease-in-out;

    &:hover {
      color: $primary;
    }
  }
}

.navbar {
  margin-bottom: $spacer;
  max-width: 1200px;

  &-search {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 50 * $spacer;

    padding: 0 $spacer;
    padding-left: .5 * $spacer;
    margin: 0 auto;

    i {
      font-size: 1rem;
      margin: auto .25 * $spacer;
    }

    button {
      i {
        margin: auto .5 * $spacer;
      }
    }

    input {
      width: 100%;
      font-size: 1rem;
      border: none;
      padding: .05 * $spacer .5 * $spacer;
      outline: none;
      border-bottom: 2px solid rgba(0,0,0, 0);
      transition: all .2s ease-in-out;

      &:focus{
        border-bottom: 2px solid $primary;
      }
    }
  }

  &-brand {
    margin: .5 * $spacer 0;
  }

  &-buttons {
    width: fit-content;
    outline: none !important;
    white-space: nowrap;
    align-items: center;

    button {
      white-space: inherit;
    }

    &-item {
      width: fit-content;
      white-space: inherit;
    }

    i {
      font-size: 1.25rem;
      margin: auto $spacer;
      cursor: pointer;
      white-space: inherit;
    }

    img {
      cursor: pointer;
    }

    .profile {
      margin: auto $spacer;
      cursor: pointer;
      white-space: inherit;
    }
  }
}

.navigation {
  padding: $spacer $spacer;
  margin-bottom: $spacer;

  border-bottom: 1px solid $border-color;
  transition: all .2s ease-in-out;

  a {
    i {
      font-size: 3rem;
    }
  }
}

@media (min-width: 768px) {
  .navigation {
    padding: $spacer 2.5 * $spacer;
  }
}
