@import "variables";
.nav-mobile {
  font-size: 1.5rem;

  i {
    margin: 0 1rem;
    cursor: pointer !important;
    transition: all .2s ease-in-out;

    &:hover {
      color: $primary;
    }
  }
}

.navbar {
  max-width: 1200px;
  font-weight: 500 !important;
  margin-left: auto;
  margin-right: auto;

  &-logo {
    margin-top: 1px;
    margin-left: 1.5 * $spacer;

    height: 34px;
  }

  &-wrapper {
    padding: .125rem 0 .125rem 0;
    margin: 0 0 2.5 * $spacer 0;

    border-bottom: 1px solid $border-color;
  }

  &-search {
    .icon-search {
      margin-right: .5 * $spacer;
    }
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 50 * $spacer;

    padding: 0 $spacer;
    padding-left: .5 * $spacer;
    margin: 0 auto;

    i {
      font-size: 1rem;
      margin: auto .25 * $spacer;
    }

    button {
      i {
        margin: auto .5 * $spacer;
      }
    }

    input {
      width: 100%;
      font-size: 1rem;
      border: none;
      padding: .05 * $spacer .5 * $spacer;
      outline: none;
      border-bottom: 2px solid rgba(0,0,0, 0);
      transition: all .2s ease-in-out;

      &:focus{
        border-bottom: 2px solid $primary;
      }
    }
  }

  &-brand {
    margin: .5 * $spacer 0;
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    background-color: $body-bg;

    width: fit-content;
    outline: none !important;
    white-space: nowrap;
    align-items: center;

    .nav-link {
      background-color: inherit;
      button {
        margin: 0;
        padding: .25 * $spacer $spacer;

        img {
          margin-right: .5 * $spacer;
        }
      }
    }

    button {
      white-space: inherit;
    }

    &-item {
      width: fit-content;
      white-space: inherit;
    }

    i {
      font-size: 1.25rem;
      margin: auto $spacer;
      cursor: pointer;
      white-space: inherit;
    }

    img {
      cursor: pointer;
    }

    .profile {
      margin: auto $spacer;
      cursor: pointer;
      white-space: inherit;
    }
  }

  &-user {
    height: 40px;
    width: 40px;

    border: none;

    background-image: url('/static/img/ava-red.png');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  &-notifications {
    border: none;
    padding-left: .25 * $spacer !important;
    padding-right: .25 * $spacer !important;

    font-size: 1.25rem;
    color: $gray-500;

    margin: auto 0;
    background-color: $body-bg !important;

    &.active {
      color: $gray-500;
    }
  }

  &-upload {
    color: $gray-500;
    font-size: 1rem !important;

    padding-top: .25rem;
    padding-left: .25 * $spacer !important;
    padding-right: .25 * $spacer !important;
  }
}

.navigation {
  padding: $spacer $spacer;
  margin-bottom: $spacer;

  border-bottom: 1px solid $border-color;
  transition: all .2s ease-in-out;

  a {
    i {
      font-size: 3rem;
    }
  }
}

@media (min-width: 768px) {
  .navigation {
    padding: $spacer 2.5 * $spacer;
  }
}

@media (min-width: 1200px) {
  .navbar-wrapper {
    padding-left: 3 * $spacer;
    padding-right: 3 * $spacer;
  }
}
