@import "variables";
@import "tabs";
@import "nav";
@import "layout";
@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.css";
@import "./fonts.scss";
// Sidebar
@import './sidebar/index';
// Slick Slider
@import './slick/index';
// Play List
@import './playlist/index';
@import "./channels/index";
@import "./categories/index";
@import "./popular/index";

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  font-size: 14px;
  color: #6A6A6A;
  margin: 0 !important;
  padding: 0 !important;
}

button {
  &:focus {
    outline: none;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

i {
  font-family: "fontello", sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  /* margin-left: .2em; */
  /* font-size: 120%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.menu-group {
  margin-bottom: $spacer;

  &.header {
    color: $primary;
  }

  &.item {
    margin-bottom: $spacer * .5;
  }

  i {

  }
}

.navbar {
  border-bottom: 1px solid $border-color;
}

#search {
  border: none;
}

* {
  outline-color: $primary;
}
