// Colors
$body-color: #6A6A6A;
$body-bg: #FFFFFF;
$footer-bg: #F8F8F8;

$color-blue: #0F9FFF;
$defaultColor: #495057;
$primary: #FE0000;
$primary-darken: #C00;
$secondary: #E3E3E3;
$text-gray: #ACACAC;

$darken: 10%;

// Fonts
$ff-light:OpenSans-Light, serif;
$ff-regular: OpenSans-Regular, serif;
$ff-semi-bold: OpenSans-SemiBold, serif;
$ff-bold: OpenSans-Bold, sans-serif;

$font-family-base: 'OpenSans-Regular', sans-serif;
$font-size-base: (7/8) * 1rem;
$font-weight-base: 400;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
