$primary: #FE0000;
$primary-darken: #C00;

$defaultColor: #495057;

$border-radius: 0;

$font-family-base: Roboto, serif;
$font-weight-base: 400;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
